<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/10/28 11:50:56</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 11:50:57</td>   <td>359</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 11:50:58</td>   <td>1697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 11:50:58</td>   <td>1714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 11:51:10</td>   <td>14031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">createlead</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 11:51:10</td>   <td>14037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">createlead</td> 
  <td>main@660143728</td>   <td></td> </tr>
</table>
