<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:12:57</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 16:12:57</td>   <td>186</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:12:57</td>   <td>749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:12:57</td>   <td>761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 16:13:05</td>   <td>8240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">createlead</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:13:53</td>   <td>56215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:13:55</td>   <td>58330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:13:55</td>   <td>58331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 16:14:01</td>   <td>64631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">createlead</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:14:52</td>   <td>115780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 16:14:55</td>   <td>117900</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:testcase.TC001_CreateLead@66480dd7]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
</table>
